@model Phone.Models.UserData
@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>

<div>
        Name : @Model.Name <br /><br />
        Address Line 1: @Model.Address_line_1 <br /><br />
        Address Line 2: @Model.Address_line_2 <br /><br />
        City : @Model.City <br /><br />
        Pincode : @Model.Pincode <br /><br />
        Phone number : @Model.Phonenumber <br /><br />
</div>

 
